/* ------------------------ PAGE CSS -------------------------- */
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.png);
  background-size: 100vw;
  min-height: 100%;
  font: verdana;
}

#game-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-intro {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 600px;
  height: auto;
  margin: 30px;
}

#intro-buttons {
  display: flex;
  justify-content: center;
}

#credits {
  color: black;
  font-size: 16px;
  text-align: center;
}

button {
  font-size: 20px;
  width: 200px;
  height: auto;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-image: url(../images/ui-background.png);
  background-size: cover;
  border-style: solid;
  border-color: black;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 3px 3px rgb(42, 42, 42);
}

button:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

#game-instructions {
  display: none;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  height: 500px;
  width: 800px;
  background-image: url(../images/ui-background.png);
  border-style: solid;
  border-color: black;
  text-align: center;
  position: relative;
}

#game-instructions > h1 {
  position: absolute;
  margin-bottom: 400px;
  font-size: 40px;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin: 20px;
}

#instructions-img-text {
  display: flex;
  flex-direction: row;
}

#game-instructions ul {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: end;
  flex-direction: column;
  color: white;
  font-size: 18px;
}

#game-instructions img {
  align-items: flex-start;
}

#game-instructions span {
  justify-content: space-around;
  align-items: flex-end;
  margin: 100px;
  line-height: 80px;
}

.snake-img {
  transform: rotate(90deg);
}
#return-button {
  align-items: flex-end;
  width: 150px;
  height: 50px;
  margin: 520px;
  position: absolute;
}

#high-score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: auto;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: black;
  margin: 20px;
  padding: 0px;
  background-image: url(../images/ui-background.png);
  background-size: cover;
  color: white;
  font-size: 20px;
  font: verdana;
}

#game-screen {
  display: none;
  flex-direction: column;
}

#game-board {
  display: block;
  border-style: solid;
  border-radius: 5px;
  align-self: flex-end;
  width: 1100px;
  height: 618px;
  margin: 5px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/gameboard.png);
  background-size: cover;
  animation: slide 6s linear infinite;
}

#ui-screen {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80px;
  width: 100%;
  margin: 5px 0;
  background-image: url(../images/ui-background.png);
  background-size: contain;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

#ui-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#game-over {
  display: none;
  color: white;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
}

#game-over > img {
  width: 250px;
  height: auto;
}

#game-over > button {
  margin: 20px;
}

#game-over-highscore {
  display: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

#game-over-highscore > #high-score-paragrah {
  color: red;
  font-weight: bolder;
  border: dashed;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  animation: blink-highscore 1.5s linear infinite;
}

#game-over-highscore > img {
  width: 350px;
  height: auto;
}

/* ------------------------ PAGES KEYFRAME ANIMATIONS -------------------------- */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1100px 0;
  }
}

@keyframes blink-highscore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------------ GAME CLASSES -------------------------- */
.hamster {
  width: 70px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: hamster-animation 0.3s steps(16) infinite;
  transform: scaleX(-1);
  
}

.snake {
  width: 50px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: snake-animation 0.3s steps(16) infinite;
  transform: rotate(90deg);
}

/* ------------------------ GAME KEYFRAME ANIMATIONS -------------------------- */
@keyframes snake-animation {
  0% {
    background-image: url(../images/snake-animation/snake-moving-1.png);
  }
  4% {
    background-image: url(../images/snake-animation/snake-moving-2.png);
  }
  13% {
    background-image: url(../images/snake-animation/snake-moving-3.png);
  }
  18% {
    background-image: url(../images/snake-animation/snake-moving-4.png);
  }
  25% {
    background-image: url(../images/snake-animation/snake-moving-5.png);
  }
  32% {
    background-image: url(../images/snake-animation/snake-moving-6.png);
  }
  39% {
    background-image: url(../images/snake-animation/snake-moving-7.png);
  }
  46% {
    background-image: url(../images/snake-animation/snake-moving-8.png);
  }
  53% {
    background-image: url(../images/snake-animation/snake-moving-9.png);
  }
  60% {
    background-image: url(../images/snake-animation/snake-moving-10.png);
  }
  67% {
    background-image: url(../images/snake-animation/snake-moving-11.png);
  }
  74% {
    background-image: url(../images/snake-animation/snake-moving-12.png);
  }
  81% {
    background-image: url(../images/snake-animation/snake-moving-13.png);
  }
  87% {
    background-image: url(../images/snake-animation/snake-moving-14.png);
  }
  96% {
    background-image: url(../images/snake-animation/snake-moving-15.png);
  }
  100% {
    background-image: url(../images/snake-animation/snake-moving-1.png);
  }
}

@keyframes hamster-animation {
  0% {
    background-image: url(../images/hamster-animation/hamster1.png);
  }
  4% {
    background-image: url(../images/hamster-animation/hamster2.png);
  }
  13% {
    background-image: url(../images/hamster-animation/hamster3.png);
  }
  18% {
    background-image: url(../images/hamster-animation/hamster4.png);
  }
  25% {
    background-image: url(../images/hamster-animation/hamster5.png);
  }
  32% {
    background-image: url(../images/hamster-animation/hamster6.png);
  }
  39% {
    background-image: url(../images/hamster-animation/hamster7.png);
  }
  46% {
    background-image: url(../images/hamster-animation/hamster8.png);
  }
  53% {
    background-image: url(../images/hamster-animation/hamster9.png);
  }
  60% {
    background-image: url(../images/hamster-animation/hamster10.png);
  }
  67% {
    background-image: url(../images/hamster-animation/hamster11.png);
  }
  74% {
    background-image: url(../images/hamster-animation/hamster12.png);
  }
  81% {
    background-image: url(../images/hamster-animation/hamster13.png);
  }
  87% {
    background-image: url(../images/hamster-animation/hamster14.png);
  }
  96% {
    background-image: url(../images/hamster-animation/hamster15.png);
  }
  100% {
    background-image: url(../images/hamster-animation/hamster1.png);
  }
}