* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/background.png);
  background-size: 100vw;
  min-height: 100%;
}

#game-intro {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 30px;
  padding: 20px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url(../Images/ui-background.png);
  background-size: cover;
  border-style: solid;
  border-color: black;
  color: white;
  font-weight: bold;
}

#high-score-container {
  text-align: center;
  padding: 0px;
  background-image: url(/Images/ui-background.png);
}

#game-screen {
  display: none;
  flex-direction: column;
}

#game-board {
  display: block;
  border-style: solid;
  align-self: flex-end;
  height: auto;
  margin: 5px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../Images/gameboard.png);
  background-size: cover;
  animation: slide 6s linear infinite;
}

#ui-screen {
  display: block;
  height: 80px;
  width: 100%;
  margin: 5px 0;
  background-image: url(../Images/ui-background.png);
  background-size: cover;
  border-style: solid;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1100px 0;
  }
}
